In [63]:
import pandas as pd
import numpy as np

df = pd.read_excel('DATA.xlsx', sheet_name='Base dsp-analytics-daily')

df.head()

,RETAIL,CATEGORIA,Date,Impressions,Clicks,CTR,Unique Visitors,Frequency,Spend,Units,Sales,ROAS
0,BA,Cremas,2023-07-01,2386,14,0.0059,2391.0,0.9979,134.40,13,405.0,3.01
1,BA,Cremas,2023-07-02,3423,17,0.0050,3319.0,1.0313,163.20,17,561.5,3.44
2,BA,Cremas,2023-07-03,4241,17,0.0040,4242.0,0.9998,136.32,13,427.5,3.14
3,BA,Cremas,2023-07-04,3947,20,0.0051,3913.0,1.0087,153.60,8,272.0,1.77
4,BA,Cremas,2023-07-05,3697,19,0.0051,3707.0,0.9973,105.72,21,3903.0,36.92

In [64]:
df = df.drop_duplicates()
df.head()

,RETAIL,CATEGORIA,Date,Impressions,Clicks,CTR,Unique Visitors,Frequency,Spend,Units,Sales,ROAS
0,BA,Cremas,2023-07-01,2386,14,0.0059,2391.0,0.9979,134.40,13,405.0,3.01
1,BA,Cremas,2023-07-02,3423,17,0.0050,3319.0,1.0313,163.20,17,561.5,3.44
2,BA,Cremas,2023-07-03,4241,17,0.0040,4242.0,0.9998,136.32,13,427.5,3.14
3,BA,Cremas,2023-07-04,3947,20,0.0051,3913.0,1.0087,153.60,8,272.0,1.77
4,BA,Cremas,2023-07-05,3697,19,0.0051,3707.0,0.9973,105.72,21,3903.0,36.92

In [65]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4004 entries, 0 to 4003
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RETAIL           4004 non-null   object
 1   CATEGORIA        4004 non-null   object
 2   Date             4004 non-null   datetime64[ns]
 3   Impressions      4004 non-null   int64
 4   Clicks           4004 non-null   int64
 5   CTR              4004 non-null   float64
 6   Unique Visitors  2843 non-null   float64
 7   Frequency        2843 non-null   float64
 8   Spend            4004 non-null   float64
 9   Units            4004 non-null   int64
 10  Sales            4004 non-null   float64
 11  ROAS             4004 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(3), object(2)
memory usage: 375.5+ KB

,Date,Impressions,Clicks,CTR,Unique Visitors,Frequency,Spend,Units,Sales,ROAS
count,4004,4004.000000,4004.000000,4004.000000,2843.000000,2843.000000,4004.000000,4004.000000,4004.000000,4004.000000
mean,2023-05-03 17:52:05.274725120,3181.110390,64.187812,0.022348,2073.557861,2.232768,643.133229,97.476024,8878.259888,7.549788
min,2023-01-01 00:00:00,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-1.000000,-262.990000,0.000000
25%,2023-03-11 00:00:00,0.000000,0.000000,0.000000,441.500000,1.496550,0.000000,9.000000,560.645000,0.000000
50%,2023-05-10 00:00:00,1049.000000,25.000000,0.015700,1158.000000,1.982800,274.000000,28.000000,1739.500000,3.420000
75%,2023-06-28 00:00:00,3820.500000,75.000000,0.030700,2348.500000,2.820500,802.850000,79.250000,5787.375000,7.162500
max,2023-08-11 00:00:00,133758.000000,2083.000000,0.500000,126706.000000,8.418800,12721.000000,3701.000000,854804.910000,594.400000
std,NaN,6496.049136,120.062119,0.028466,5207.270286,0.956514,1068.795755,240.470749,30143.257392,21.235721

In [66]:
df["Sales"].info()
df["Sales"].describe()

<class 'pandas.core.series.Series'>
RangeIndex: 4004 entries, 0 to 4003
Series name: Sales
Non-Null Count  Dtype
--------------  -----
4004 non-null   float64
dtypes: float64(1)
memory usage: 31.4 KB

count      4004.000000
mean       8878.259888
std       30143.257392
min        -262.990000
25%         560.645000
50%        1739.500000
75%        5787.375000
max      854804.910000
Name: Sales, dtype: float64

In [67]:
df = df.fillna('')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4004 entries, 0 to 4003
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RETAIL           4004 non-null   object
 1   CATEGORIA        4004 non-null   object
 2   Date             4004 non-null   datetime64[ns]
 3   Impressions      4004 non-null   int64
 4   Clicks           4004 non-null   int64
 5   CTR              4004 non-null   float64
 6   Unique Visitors  4004 non-null   object
 7   Frequency        4004 non-null   object
 8   Spend            4004 non-null   float64
 9   Units            4004 non-null   int64
 10  Sales            4004 non-null   float64
 11  ROAS             4004 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 375.5+ KB

,RETAIL,CATEGORIA,Date,Impressions,Clicks,CTR,Unique Visitors,Frequency,Spend,Units,Sales,ROAS
0,BA,Cremas,2023-07-01,2386,14,0.0059,2391.0,0.9979,134.40,13,405.0,3.01
1,BA,Cremas,2023-07-02,3423,17,0.0050,3319.0,1.0313,163.20,17,561.5,3.44
2,BA,Cremas,2023-07-03,4241,17,0.0040,4242.0,0.9998,136.32,13,427.5,3.14
3,BA,Cremas,2023-07-04,3947,20,0.0051,3913.0,1.0087,153.60,8,272.0,1.77
4,BA,Cremas,2023-07-05,3697,19,0.0051,3707.0,0.9973,105.72,21,3903.0,36.92

In [68]:
df['Date'] = pd.to_datetime(df['Date'])  
df['dia'] = df['Date'].dt.day
df['mes'] = df['Date'].dt.month
df.describe()

,Date,Impressions,Clicks,CTR,Spend,Units,Sales,ROAS,dia,mes
count,4004,4004.000000,4004.000000,4004.000000,4004.000000,4004.000000,4004.000000,4004.000000,4004.000000,4004.000000
mean,2023-05-03 17:52:05.274725120,3181.110390,64.187812,0.022348,643.133229,97.476024,8878.259888,7.549788,13.914086,4.645355
min,2023-01-01 00:00:00,0.000000,0.000000,0.000000,0.000000,-1.000000,-262.990000,0.000000,1.000000,1.000000
25%,2023-03-11 00:00:00,0.000000,0.000000,0.000000,0.000000,9.000000,560.645000,0.000000,6.000000,3.000000
50%,2023-05-10 00:00:00,1049.000000,25.000000,0.015700,274.000000,28.000000,1739.500000,3.420000,13.000000,5.000000
75%,2023-06-28 00:00:00,3820.500000,75.000000,0.030700,802.850000,79.250000,5787.375000,7.162500,21.000000,6.000000
max,2023-08-11 00:00:00,133758.000000,2083.000000,0.500000,12721.000000,3701.000000,854804.910000,594.400000,31.000000,8.000000
std,NaN,6496.049136,120.062119,0.028466,1068.795755,240.470749,30143.257392,21.235721,8.693787,2.096736

In [2]:
import pandas as pd
import numpy as np

df = pd.read_excel('base_datos_transformada.xlsx', sheet_name='Base transformada')

df.head()

,RETAIL,CATEGORIA,Date,Impressions,Clicks,CTR,Unique Visitors,Frequency,Spend,Units,Sales,ROAS,Day,Month,Impressiones by thousands,Cost by unit,Best Practice
0,BA,Crema,2023-07-01,2386,14,0.0059,2391,0.9979,134.40,13,405.0,3.01,1,7,2.386,10.338462,No BP
1,BA,Crema,2023-07-02,3423,17,0.0050,3319,1.0313,163.20,17,561.5,3.44,2,7,3.423,9.600000,No BP
2,BA,Crema,2023-07-03,4241,17,0.0040,4242,0.9998,136.32,13,427.5,3.14,3,7,4.241,10.486154,No BP
3,BA,Crema,2023-07-04,3947,20,0.0051,3913,1.0087,153.60,8,272.0,1.77,4,7,3.947,19.200000,No BP
4,BA,Crema,2023-07-05,3697,19,0.0051,3707,0.9973,105.72,21,3903.0,36.92,5,7,3.697,5.034286,BP

In [3]:
import plotly.express as px
# Assume we have more data with various months for this task
# Adding a 'Month-Year' column for trend analysis
df['Month-Year'] = df['Date'].dt.to_period('M')

# Aggregating sales by month
monthly_sales = df.groupby('Month-Year')['Sales'].sum().reset_index()

# Calculating percentage change month-over-month
monthly_sales['Pct Change'] = monthly_sales['Sales'].pct_change()

# Plotting grafico de linea
fig = px.line(monthly_sales, x='Month-Year', y='Sales', title='Sales Trend by Month')
fig.show()

# Gráfico de barras para mostrar porcentaje
fig2 = px.bar(monthly_sales, x='Month-Year', y='Pct Change', title='Monthly Sales Percentage Change')
fig2.show()

TypeError: Object of type Period is not JSON serializable